<p id="notice"><%= notice %></p>
<div class="main-focus">
  <p>
    <strong>Title:</strong>
    <%= @question.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @question.description %>
  </p>

  <%= link_to 'Edit Question', edit_question_path(@question) %> |
  <%= link_to 'Answer Question', new_question_answer_path(@question) %> |
  <%= link_to 'Delete Question', @question, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'View All Questions', questions_path %>

  <br>
  <br>
  <strong>Answers:</strong>
  <ul class="unstyled">
    <% @answers.each do |answer| %>
    <li>
      <%= answer.description %>
    </li>
    <% end %>
  </ul>
</div>
